@import "moduli.scss";


@function px-to-rem($px) {
    $rem-size: 16px;
    @return ($px / $rem-size) * 1rem;
}









@mixin containerStyle ($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-items: center;
    border: 1px solid $borderColor;
    padding: 10px;
}


.containerTotal {
    @include containerStyle(column)
}


.containerSection1 {
    @include containerStyle(row)
}

.containerSection2 {
    @include containerStyle(row)
}




@mixin articleStyle() {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color;
    border: 2px solid $borderColorArticle;
    font-size: px-to-rem(30px);
    padding: px-to-rem(10px);
    text-align: center;

}






.titleClass {
    @include articleStyle();
}

.titleClass__sub {
    @extend .titleClass;
    font-size: px-to-rem(46px);
    border: solid red;
}

// avrei potuto utilizzare (&)
//.titleClass{
//@include articleStyle()
//&__sub articleStyle()
//ma avrei dovuto reimpostare tutte le variabili



.article1 {
    @include articleStyle()
}

.article2 {
    @include articleStyle()
}

.article3 {
    @include articleStyle()
}

.article4 {
    @include articleStyle()
}

.article5 {
    @include articleStyle()
}